<div class="contenedor">
    <div class="contenido">
      <div class="respuesta" id="aprobado" [@animationFadeOut]="centralesRiesgo.respuestaId">  <!--Validar estilos y cambiar nombre-->

        <div class="caso" *ngIf="centralesRiesgo.respuestaLetra === 'A' && scanParams.enriquecido">
          <img [src]="const.aprobado" alt="aprobado">
          <p class="mensaje">
              Aprobado
              Tu Solicitud es viable
          </p>
          <p class="comentario">
            ¡Felicitaciones! Tu crédito es viable. Estás a un click de tener carro, chatea con tu asesor personalizado haciendo click en el botón o escribiéndonos vía Whatsapp a nuestra cuenta oficial +57 1 7443592
          </p>
        </div>
        <div class="caso" *ngIf="centralesRiesgo.respuestaLetra ===  'B' && scanParams.enriquecido">
          <img [src]="const.aprobado" alt="aprobado">
          <p class="mensaje">
              Aprobado
              Tu Solicitud es viable
          </p>
          <p class="comentario">
            ¡Felicitaciones! Tu crédito es viable. Estás a un click de tener carro, chatea con tu asesor personalizado haciendo click en el botón o escribiéndonos vía Whatsapp a nuestra cuenta oficial +57 1 7443592
          </p>
        </div>
       <div class="caso" *ngIf="centralesRiesgo.respuestaLetra ===  'C' && scanParams.enriquecido">
          <img [src]="const.aprobado" alt="aprobado">
          <p class="mensaje">
              Pre-Aprobado<br>
              ¡Estás muy cerca de tener tu crédito aprobado! Para lograrlo debes enviar un correo a digital@santanderconsumer.co con los siguientes documentos:
          </p>
          <div class="comentario">
            <div class="lista">
              <ul>
                <li>Si eres empleado (a término indefinido, fijo o por obra/labor) Debes haber trabajado los últimos 12 meses, y debes enviar el/los certificado(s) que lo demuestren.</li>
                <li>Si eres empleado por prestación de servicios debes haber trabajado los últimos 24 meses y debes enviar el/los contrato(s) o carta laboral y enviar los últimos 3 extractos bancarios.
                Si eres independiente, debes tener una trayectoria de al menos 2 años, y debes enviar Cámara de Comercio o RUT, extractos bancarios de los últimos 3 meses y 2 referencias comerciales. (Carta de tus proveedores o clientes, indicando tiempo de la relación y monto promedio de los pagos).</li>
              </ul>
              Recuerda que puedes consultar toda la documentación requerida para obtener tu crédito vehicular haciendo clic aquí. <a href="https://santanderfinancing.com/requerimientos-credito//">https://santanderfinancing.com/requerimientos-credito/</a>
            </div>
          </div>
        </div>
        <div class="caso" *ngIf="centralesRiesgo.respuestaLetra ===  'D' && scanParams.enriquecido">
          <img [src]="const.negado" class="negado">
          <p class="mensajeNeg">
              Lo sentimos
          </p>
          <p class="comentario">
              Tu solicitud no es viable en este momento.
          </p>
        </div>
        <div class="caso" *ngIf="centralesRiesgo.respuestaLetra ===  'E' && scanParams.enriquecido">
          <img [src]="const.negado" class="negado">
          <p class="mensajeNeg">
              ¡Ups ocurrió un error!
          </p>
          <p class="comentario">
              Tuvimos un problema, por favor intenta más tarde.
          </p>
        </div>
        <div class="caso" *ngIf="centralesRiesgo.respuestaLetra ===  null && scanParams.enriquecido">
          <img [src]="const.negado" class="negado">
          <p class="mensajeNeg">
              ¡Ups ocurrió un error!
          </p>
          <p class="comentario">
              Tuvimos un problema, por favor intenta más tarde.
          </p>
        </div>
      </div>
    </div>
    <div class="contBoton center">
      <button
        id="stepThree"
        mat-button
        *ngIf="centralesRiesgo.sendMail && scanParams.enriquecido"
        (click)="procesarModalPreaprobado()">
          Diligenciar Formulario
      </button>
      <button
        id="stepThree"
        mat-button
        *ngIf="centralesRiesgo.sendWhatsapp && scanParams.enriquecido"
        (click)="ConectarWhatsapp()">
        Chatea con tu asesor
      </button>
      <button
        id="stepThreeNoImportant"
        mat-button (click)="apiMercadolibre.volverNavegador()">
        Volver a MercadoLibre
      </button>
    </div>
</div>
