@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.section-modal {
  width: 100%;
  font-family: Roboto;
  text-align: center;
  grid-template-rows: auto;
  font-size: 14px;

  .titulo {
    padding-bottom: 22px;
    text-align: center;
  }

  .contBotonPaso{
    display: grid;
    grid-template-columns: 90%;
    padding: 1px0 16px;
    line-height: 36px;
    text-align: center !important;

    @include smallTablet{
      display: block;
    }
    @include IpadPro{
      display: grid !important;
    }
    @include Asmall() {
      width: 80%;
      height: 11vh;
      font-size: 12px;
    }
    @include tabletLaptop(){
        grid-template-columns: 37% 37% 37%;
    }
    @include laptopDesktop{
        grid-template-columns: 37% 37% 37%;
    }
    @include IpadPro{
      grid-template-columns: 37% 37% 37%;
    }
    @include desktopFull{
      grid-template-columns: 37% 37% 37%;
    }
    @include full{
      grid-template-columns: 37% 37% 37%;
    }
  }

    .BtnMantener{
      font-size: 10px !important;
      position: relative;
      top: 0px;
      left: 5px;
      @include Minim{
        position: relative;
        top: 0px;
        left: 30px;
      }
      @include Asmall{
        position: relative;
        top: 20px;
        left: 30px;
      }
      @include smallTablet{
        position: relative;
        top: 10px;
        left: -37px;
      }
      @include tabletLaptop{
        position: relative;
        top:  20px;
        left: 160px;
      }
      @include laptopDesktop{
        position: relative;
        top: 10px;
        left: 40px;
      }
      @include IpadPro {
        position: relative ;
        top:  12px;
        left: 40px;
      }
      @include desktopFull{
        position: relative;
        top: 12px;
        left: 35px;
      }
      @include full{
        position: relative;
        top: 12px;
        left: 35px;
      }

    }
    .BtnSalir{
      font-size: 10px !important;
      width: 110% !important;
      position: relative;
      top: 20px;
      left: 15px;
      @include Minim{
        position: relative;
        top: 8px;
        left: 20px;
      }
      @include Asmall{
        position: relative;
        top: 0px;
        left: 38px;
      }
      @include smallTablet{
        position: relative;
        top: 20px;
        left: -18px;
      }
      @include tabletLaptop{
        position: relative;
        top:  15px;
        left: 50px;
      }
      @include laptopDesktop{
        position: relative;
        top: 10px;
        left: 35px;
      }
      @include IpadPro{
        position: relative;
        top: 12px;
        left: 60px;
      }
      @include desktopFull{
        position: relative;
        top: 12px;
        left: 50px;
      }
      @include full{
        position: relative;
        top: 12px;
        left: 50px;
      }
    }



    .BtonConfirmacion{
      font-size: 10px !important;
      width: 110% !important;
      position: relative;
      top: 20px;
      left: 155px;
      @include Asmall{
        top: 10px;
        left: 20px;
      }
    }

    .acctions-button {
      padding-top: -10%;
      button {
        background-color: rgba(236, 0, 0, 1);
        border-radius: 50px;
        color: rgba(255, 255, 255, 1);
        margin: 0 10px;
        padding: 0 66px;
        @include Asmall() {
          width: 80%;
          height: 11vh;
          font-size: 14px;
        }
        &:disabled {
          background-color: rgb(255, 96, 96);
        }
      }
    }





}
