@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.section-modal {
  width: 100%;
  font-family: Roboto;
  text-align: center;
  grid-template-rows: auto;
  font-size: 14px;
  @include Asmall{

  }

  .titulo {
    padding-bottom: 22px;
    text-align: center;
  }

  .body{
    @include tabletLaptop{
      font-size: 15px;
      padding: 15px;
    }
    @include laptopDesktop{
      font-size: 16px;
      padding: 15px;
    }
    @include IpadPro{
      font-size: 16px;
      padding: 15px;
    }
    @include desktopFull{
      font-size: 16px;
      padding: 15px;
    }
    @include full{
      font-size: 16px;
      padding: 15px;
    }

  }

  .contBotonPaso{
    display: grid;
    grid-template-columns: 90%;
    padding: 1px0 16px;
    line-height: 36px;
    text-align: center !important;

    @include Minim{
    }
    @include Asmall() {
    }

    @include smallTablet{
      display: grid;
    }
    @include IpadPro{
      display: grid !important;
    }

    @include tabletLaptop(){
        grid-template-columns: 37% 37% 37%;
    }
    @include laptopDesktop{
        grid-template-columns: 37% 37% 37%;
    }
    @include IpadPro{
      grid-template-columns: 37% 37% 37%;
    }
    @include desktopFull{
      grid-template-columns: 37% 37% 37%;
    }
    @include full{
      grid-template-columns: 37% 37% 37%;
    }
  }

    .BtnMantener{
      font-size: 10px !important;
      position: relative;
      top: 0px;
      left: 5px;
      @include Minim{
        position: relative;
        top: 0px;
        left: 30px;
      }
      @include Asmall{
        position: relative;
        top: 0px;
        left: 10%;
      }
      @include smallTablet{
          position: relative;
          top: 0px;
          left: 5%;
      }
      @include tabletLaptop{
        position: relative;
        top:  0px;
        left: 25%;
      }
      @include laptopDesktop{
        position: relative;
        top: 10px;
        left: 40px;
      }
      @include IpadPro {
        position: relative ;
        top:  12px;
        left: 40px;
      }
      @include desktopFull{
        position: relative;
        top: 12px;
        left: 35px;
      }
      @include full{
        position: relative;
        top: 12px;
        left: 35px;
      }

    }
    .BtnSalir{
      font-size: 10px !important;
      width: 110% !important;
      position: relative;
      top: 20px;
      left: 15px;
      @include Minim{
        position: relative;
        top: 8px;
        left: 20px;
      }
      @include Asmall{
        position: relative;
        top: 10px;
        left: 5%;
      }
      @include smallTablet{
          position: relative;
          top: 10px;
          left: 0%;
      }
      @include tabletLaptop{
        position: relative;
        top:  0px;
        left: 40%;
      }
      @include laptopDesktop{
        position: relative;
        top: 10px;
        left: 35px;
      }
      @include IpadPro{
        position: relative;
        top: 12px;
        left: 60px;
      }
      @include desktopFull{
        position: relative;
        top: 12px;
        left: 50px;
      }
      @include full{
        position: relative;
        top: 12px;
        left: 50px;
      }
    }



    .BtonConfirmacion{
      font-size: 10px !important;
      width: 110% !important;
      position: relative;
      top: 20px;
      left: 155px;
      @include Asmall{
        top: 10px;
        left: 20px;
      }
    }

    .acctions-button {
      padding-top: -10%;
      button {
        background-color: rgba(236, 0, 0, 1);
        border-radius: 50px;
        color: rgba(255, 255, 255, 1);
        margin: 0 10px;
        padding: 0 66px;
        // @include Minim{

        // }
        // @include Asmall() {
        //   width: 100%;
        //   height: 9vh;
        //   font-size: 13px;
        // }
        &:disabled {
          background-color: rgb(255, 96, 96);
        }
      }
    }





}
